body{

font-family:Arial;
margin:0;
background:#f4f7fb;

}

header{

text-align:center;
padding:40px;
background:#0a3d62;
color:white;

}

.profile{

width:150px;
border-radius:50%;

}

nav{

background:#082c45;
padding:10px;
text-align:center;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

section{

padding:40px;
max-width:1000px;
margin:auto;

}

.btn{

background:#00a8ff;
color:white;
padding:10px 20px;
text-decoration:none;

}

.publication{

background:#eef3f9;
padding:20px;
margin-bottom:20px;

}
